@import '../../sass/utils';

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: pxToRem(140);
  padding: 0 pxToRem(118);
  background-color: rgba(#fff, .7);
}