.cards
  +card({
    src: '../../blocks/cards/img/pasco.jpg',
    description: 'Шаблон коллективного блога Pasco',
    demoLink: 'https://encrypticus.github.io/pasco/',
    githubLink: 'https://github.com/encrypticus/pasco/'
  })

  +card({
    src: '../../blocks/cards/img/bislite.jpg',
    description: 'Шаблон сайта иконок BasLite',
    demoLink: 'https://encrypticus.github.io/baslite/',
    githubLink: 'https://github.com/encrypticus/baslite/'
  })

  +card({
    src: '../../blocks/cards/img/law.jpg',
    description: 'Шаблон сайта юридического агенства',
    demoLink: 'https://encrypticus.github.io/law/',
    githubLink: 'https://github.com/encrypticus/law/'
  })

  +card({
    src: '../../blocks/cards/img/aditu.jpg',
    description: 'Шаблон интернет-магазина одежды',
    demoLink: 'https://encrypticus.github.io/aditu/',
    githubLink: 'https://github.com/encrypticus/aditu/'
  })

  +card({
    src: '../../blocks/cards/img/react.jpg',
    description: 'React/Redux приложение показания электросчетчиков',
    demoLink: 'https://data-meters.web.app',
    githubLink: 'https://github.com/encrypticus/meters-data/'
  })

  +card({
    src: '../../blocks/cards/img/ext.jpg',
    description: 'Scroll Buttons - расширение для браузера Chrome',
    linkText: 'Web store',
    linkIcon: '../../components/card/img/webstore-icon.svg',
    demoLink: 'https://youtu.be/3WPUgilY2yE',
    githubLink: 'https://chrome.google.com/webstore/detail/scroll-buttons/blkcalljbilnpflcagdojnldcdifnndp'
  })

  +card({
    src: '../../blocks/cards/img/uikit.jpg',
    description: 'Сайт расширения Scroll Buttons',
    demoLink: 'https://encrypticus.github.io/uikit/',
    githubLink: 'https://github.com/encrypticus/uikit/'
  })