extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Home

block content
  body
    #menu-wrapper
      .page
        .page__inner
          .wrapper
            include ../../blocks/page-header/page-header