mixin site-logo({ text = 'Logo', href='/', includeIcon = true } = {}, mods)
  -
    // список модификаторов
    let allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' site-logo_' + modsList[i].trim();
      }
    }

  .site-logo(class=allMods)&attributes(attributes)
    a.site-logo__link(href=href)
      span.site-logo__link-text= text
      if (includeIcon)
        img.site-logo__icon(src='../../components/site-logo/img/logo.svg', alt="site logo")
    