mixin heading(text, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' heading_' + modsList[i].trim();
      }
    }

  h2.heading(class=allMods)&attributes(attributes)= text
    