.socials {
  display: flex;
  width: 75px;
  justify-content: space-between;

  &__link {
    display: block;
    line-height: 0;
  }

  &__icon {
    width: 25px;
    height: auto;
    color: gray;
  }
}