mixin socials()
  .socials
    a.socials__link(href='https://github.com/encrypticus/')
      img.socials__icon(src="../../components/socials/img/github-icon.svg")
    a.socials__link(href='https://t.me/encrypticus')
      img.socials__icon(src="../../components/socials/img/telegram-icon.svg")